body {
    margin: 0;
    overflow-y: hidden;
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
    display: none;
}

.inner {
    height: 100vh;
    display: flex;
    font-size: 100px;
}
.divider{
    height: 100vh;
}
.mainPage {
    background-color: #f7f6cf;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollM{
    align-self: flex-end;
}