/* QuizComponent 디자인 스타일 */
.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.quiz-container > div {
    margin-bottom: 15px;
}

.quiz-container div > span {
    font-weight: bold;
    margin-right: 10px;
}

.quiz-container div > em {
    font-style: italic;
    color: #666;
}

.quiz-container div > label {
    display: block;
    margin-bottom: 8px;
}

.quiz-container div > label > input {
    margin-right: 10px;
}

.quiz-container button {
    padding: 10px 20px;
    background-color: #162d49;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quiz-container button:hover {
    background-color: #4577a0;
}

button,
IconButton {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* 그레이색 버튼 스타일 */
button[style='color: gray'],
IconButton[style='color: gray'] {
    background-color: #f0f0f0;
    color: #333;
}

.nextButton {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;

}

.lastButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

}

.stopButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #162d49;
    color: white;
    transition: background-color 0.3s;
}